.navTitle {
    color: #2b2b2b;
}

.nav-item a {
    padding-left: 1em;
    padding-right: 1em;
    color: #6C727A;
    border-radius: 8px;
    transition: 0.5s;
}

.nav-item a:hover {
    color: #fafafa;
    /* font-size: 1.2em; */
    background-color: #175676;
    border-radius: 15px;
}